.inicio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    color: white;
    width: 90%;
    margin: 30px auto;
}

.inicio-link{
    width: 200px;
    background-color: #262A2E;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    padding: 50px;
}

.inicio-link:hover{
    background-color: #2b2d30 ;
    color: #61666a;
}
.inicio-img{
    width: 150px;
    height: 150px;
}


.inicio-link h1{
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    font-size: 1.5rem;
}