.api-table-container {
  max-width: 85%;
  overflow-x: auto;
  color: #ffffff;
  margin: 20px auto;
}

.api-table {
  width: 100%;
  border-collapse: collapse;
  background: #272B2E;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.api-table th,
.api-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.api-table th {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 600;
}



.api-table tr:last-child td {
  border-bottom: none;
}
