
@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//retrofc.pe/cdn/fonts/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?h1=cmV0cm9mYy5wZQ&h2=cmV0cm9mY3dlYi5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=ddb6899f7942057452e3d98d0becddd8d61a08c1357ad8dd0e40837ee2d5cb17") format("woff2"),
        url("//poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?h1=cmV0cm9mYy5wZQ&h2=cmV0cm9mY3dlYi5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=dc2bc2d3375b49c3393ec197ac4ea3ba1d06a8552d1c97f3efd4431043bdd69b") format("woff");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #201d1d;
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}



/* Navbar estilos */
.navbar {
  background: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  z-index: 10;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
}

.Texto-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000f1;
  color: white;

}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



.nav-desktop {
  display: flex;
  justify-content:space-between;
  padding: 16px 0;
  width: 50%;
  margin: 0px auto;
  border-top: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
}

.aww{
  display: flex;
  align-items: center;
  gap: 3rem;
  color: rgb(0, 0, 0);
  div{
    display: flex;
    align-items: center;
    margin: 0px;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 500;
    p{
      margin: 0px;
      font-size: 0.7rem;
      font-weight: normal;
    }
  }
}

.logo-image {
  height: 70%;
}




.nav-link {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  width: 100%;
}

.nav-link:hover {
  color: #255efaf1 ;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.menu-toggle:hover {
  background-color: #fa7725f1;
}

.nav-mobile {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.nav-mobile.open {
  max-height: 300px;
  opacity: 1;
}

.nav-mobile-content {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-link-mobile {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.nav-link-mobile:hover {
  background-color: #ffffff20;
}
/* Responsivo*/
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-desktop {
  display: none;
  }
  .main {
    padding-left: 0px;
  }
}

main {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background: #1A1B1E;
  flex: 1;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

